# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log

# --- Jupyter Notebooks ---
.ipynb_checkpoints

# --- Environment Variables ---
.env
metadata.yaml
.ssh_tunnel/

# --- Feast & MLOps Data ---
feature_repo/data/registry.db
feature_repo/data/online_store.db
.feast/
mage_data/


# --- IDE Settings ---
.vscode/
.idea/

# --- Old Run --- 
legacy